* {
    text-shadow: 1px 0px 0px #0d0d0b,
    0px 1px 0px #0d0d0b,
    2px 1px 0px #0d0d0b,
    1px 2px 0px #0d0d0b,
    2px 3px 0px #0d0d0b,
    3px 2px 0px #0d0d0b;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;  
    text-transform: uppercase; 
    margin-bottom: 3.6em;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

p {
    margin: 0 0 3.6em ;
    margin-block-start: 1em ;
    margin-block-end: 1em ;
    margin-inline-start: 0px ;
    margin-inline-end: 0px ;
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 1.88 !important;
}