* {
    text-shadow: 1px 0px 0px #0d0d0b,
    0px 1px 0px #0d0d0b,
    2px 1px 0px #0d0d0b,
    1px 2px 0px #0d0d0b,
    2px 3px 0px #0d0d0b,
    3px 2px 0px #0d0d0b !important;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    
    font-weight: bold;  
    font-size-adjust: 1.2em;
    text-transform: uppercase !important; 
}
