/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;  
    text-transform: uppercase; 
    margin-top: 36px !important;
    margin-bottom: 24px !important;
}

h1 {
    font-size: 64px;
    font-size: clamp(2rem, 4vw + 1rem, 4rem) !important; /* min 32px, fluid, max 64px */
    
}

h2 {
    font-size: 35px;
    font-size: clamp(1.125rem, 2.5vw + 0.5rem, 2.1875rem) !important;
}

h3 {
    font-size: 28px;
    font-size: clamp(1rem, 2.2vw + 0.2rem, 1.75rem) !important; /* min 16px, fluid, max 28px */
}

p, image-caption-container {
    margin: 0 0 3.6em ;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px ;
    margin-inline-end: 0px ;
    font-size: 16px ;
    font-weight: 400 ;
    line-height: 1.88 !important;
    text-align: left;
}

.mr-2,
.mb-1
{
    font-family: "Josefin Sans", sans-serif !important;
    text-transform: uppercase; 
    font-size: 12px ;
}

.nav-text
{
    font-family: "Josefin Sans", sans-serif !important;
    text-transform: uppercase; 
    font-size: clamp(0.8rem, 2vw + 0.2rem, 1.2rem) !important; /* min 16px, fluid, max 28px */
}